<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      <!--OPC配置  需把服务端属性 槽修改为1【以下位机为准】-->
      <add key="OpcServerName" value="Kepware.KEPServerEX.V6"/>
      <add key="OpcGroupName" value="TRANS"/>
      <add key="OpcServerIP"  value="127.0.0.1"/>
      <!--输送线区域-->
      <add key="LocArea" value="A"/>
      <add key="LocIp"   value="127.0.0.1"/>
      <!--SQL SERVER数据库配置-->
      <add key="DbIp" value="127.0.0.1"/>
      <add key="DbConnect" value="Data Source=192.168.31.196;Initial Catalog=HDGLASRS;User ID=sa;password=mesnac"/>
    </appSettings>
</configuration>